/* some style */

body {
    background: #333;
}

.app {
    //background: burlywood;
}

.wrapper {
    display: flex;
    color: white;
}

.map {
    position: relative;
    border: 2px solid brown;
    overflow: hidden;
}

.tile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
